**.pyc
**/*.egg-info
**/.eggs
**/.mypy_cache
**/.pytest_cache
**/.tox
**/__pycache__
**/dralOutput
**/log.html
**/output.xml
**/report.html
**/robot_output.xml
**/venv
.cache
.coverage
.venv
.venvdocker
/dist
build
compile_commands.json
duckproject.toml
logs
output
snapshots
venv
*.libspec
